#navbar-container {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  align-items: center;
  height: 50px;
  background-color: white;

}

.select {
  color: blue
}

.navbar-button:hover {
  color: cyan;
}