#display {
  height: 800px;
  margin-bottom: 70px;
  margin-top: 50px;
  
}

#display-container{
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
} 

.center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.movie-watch {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.movie-watch img {
  width: 70px;
  height: 70px;
  /* flex: 1 */
}

.movie-watch-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 55%;
}

.friend-list-controller {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  padding: 5px;
}

.search-friend-element{
  display: flex;
}